@model BookListDto
@*<partial name="_header">*@
@await Html.PartialAsync("_header")


<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
        <partial name="_search">
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var book in Model.Books)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("_book", book)
                </div>
            }
        </div>
    </div>
</div>


